.App {
  /* text-align: center; */
  /* background-color: lightblue; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34 !important;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between /*center*/;
  font-size: calc(10px + 2vmin);
  color: white;

  margin-bottom: 0.1vh;
  padding: 0.5rem 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

.active-window {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  position: relative;
  /* border: 2px solid #000 !important; */
  /* overflow-y: scroll; */
  /* background: rgb(243, 243, 243); */

  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 10px; */
  margin: 5px;
  /* padding-left: 1vmax; */
  /* padding-right: 1vmax; */
}

.reported-damages {
  /* border: 2px solid #000 !important;
  border-radius: 2px; */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  position: relative;
  /* overflow-y: scroll;
  background: rgb(243, 243, 243);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 10px; */
  margin: 5px;
  padding-left: 1vmax;
  padding-right: 1vmax;
}

.counteroffers {
  /* border: 2px solid #000 !important;
  border-radius: 2px; */
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 1;
  position: relative;
  /* overflow-y: scroll;
  background: rgb(243, 243, 243);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 10px; */
  margin: 5px;
  padding-left: 1vmax;
  padding-right: 1vmax;
}

.open-contracts {
  /* border: 2px solid #000 !important;
  border-radius: 2px; */
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  /* overflow-y: scroll;
  background: rgb(243, 243, 243);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 10px; */
  margin: 5px;
  padding-left: 1vmax;
  padding-right: 1vmax;
  /* width: 400px; */
}

.pending-contracts {
  /* border: 2px solid #000 !important;
  border-radius: 2px; */
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  position: relative;
  /* overflow-y: scroll;
  background: rgb(243, 243, 243);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 10px; */
  margin: 5px;
  padding-left: 1vmax;
  padding-right: 1vmax;
  /* width: 400px; */
}

/* input {
  padding: 5px 10px;
} */

.wideInput {
  text-align: left;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  width: 400px;
  height: 200px;
}
